<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CarMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Car">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="seats" jdbcType="INTEGER" property="seats" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="colors" jdbcType="VARCHAR" property="colors" />
  </resultMap>
</mapper>